Лист Сводная

Необходимо распределить все данные и вывести, как указано в таблице
Разделение СНГ-Россия
- страну можно определить столбцы F лист Revenue API и Installs API
- по названию кампании столбец D лист Plarin (если в названии кампании есть “cis”, то эта кампания запущена на СНГ и все ее показатели можно отнести к СНГ)

Разделение по датам
- даты указаны столбец H лист Plarin, столбец A лист Revenue API, столбец A лист Installs API
- Период - гибкие даты. Данные должны меняться в зависимости от дат, выставленных в ячейках B1 и B2 лист Сводная

Метрики

Spend - это расход, количество потраченных денег. Выводим в долларах, курс берем средний за май 2023 года. Расход указан на листе Plarin столбец I

Installs - общее количество установок за указанный период по определенному направлению. Указано на листе Installs API столбец G
CPI

Cost per Install - стоимость 1 установки за выбранный период по выбранному направлению. Считается как Spend/Installs. Выводим в долларах

Окупаемость - окупаемости трафика за выбранный период по выбранному направлению. Считается как Revenue / Spend. Выводится в %.

Revenue - столбец H Лист Revenue API

Profit - прибыль по данному направлению за данный период. Считается как Revenue-Spend. Выводится в $

In [48]:
import pandas as pd

## Выгрузим таблицу с прибылью

In [49]:
# выгрузим таблицу с прибылью 

revenue = pd.read_excel('Installs API.xlsx', sheet_name = 'Revenue API')
revenue.head()

,Date,date_range,Tracker,Campaign,Adgroup,Network,Country,region,Days after Install,Revenue
0,2023-05-10,6-10 мая,se043uy,67982511,126908782,huntermob_vk,ru,Россия,0,28.309
1,2023-05-10,6-10 мая,se043uy,67982511,126908782,huntermob_vk,ru,Россия,2,33.395
2,2023-05-10,6-10 мая,se043uy,67982511,126908782,huntermob_vk,ru,Россия,5,64.955
3,2023-05-10,6-10 мая,y1882qa,68663028,127644596,huntermob_vk,ru,Россия,6,18.151
4,2023-05-10,6-10 мая,au5jm7x,67997174,126924318,huntermob_vk,ru,Россия,2,7.933

In [50]:
# рассмотрим какие значения бывают в столбце date_range

revenue['date_range'].value_counts()

11-31 мая    222
6-10 мая      26
Name: date_range, dtype: int64

In [51]:
# рассмотрим какие значения бывают в столбце region

revenue['region'].value_counts()

Россия    236
СНГ        12
Name: region, dtype: int64

In [52]:
# посмотрим общую информацию по таблице

revenue.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 248 entries, 0 to 247
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date                248 non-null    datetime64[ns]
 1   date_range          248 non-null    object
 2   Tracker             248 non-null    object
 3   Campaign            248 non-null    object
 4   Adgroup             248 non-null    object
 5   Network             248 non-null    object
 6   Country             248 non-null    object
 7   region              248 non-null    object
 8   Days after Install  248 non-null    int64
 9   Revenue             248 non-null    float64
dtypes: datetime64[ns](1), float64(1), int64(1), object(7)
memory usage: 19.5+ KB

In [53]:
# проверим на пропуски и дубликаты
print('пропусков:', revenue.isna().sum())
print()
print('дубликатов:', revenue.duplicated().sum())

пропусков: Date                  0
date_range            0
Tracker               0
Campaign              0
Adgroup               0
Network               0
Country               0
region                0
Days after Install    0
Revenue               0
dtype: int64

дубликатов: 0

## Выгрузим таблицу с обявлениями

In [54]:
plarin = pd.read_excel('Installs API.xlsx', sheet_name = 'Plarin')
plarin.head()

,ID Объявления,Название объявления,ID Кампании,Название кампании,region,Источник,Unnamed: 6,Клиент,Дата,date_range,...,CPC,CPA,EPC,EPM,eCPC,eCPM,P&L,Выручка,ROI,CRR (с НДС)
0,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-12,11-31 мая,...,NaN,NaN,NaN,NaN,NaN,"15,00 RUB",NaN,NaN,NaN,NaN
1,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-11,11-31 мая,...,"22,09 RUB",117 RUB,NaN,NaN,NaN,"45,58 RUB",NaN,NaN,NaN,NaN
2,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-10,6-10 мая,...,"21,38 RUB",155 RUB,NaN,NaN,NaN,"39,03 RUB",NaN,NaN,NaN,NaN
3,126907859,DG GE VideoK инструменты 1,67981632,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-12,11-31 мая,...,NaN,NaN,NaN,NaN,NaN,"25,00 RUB",NaN,NaN,NaN,NaN
4,126907859,DG GE VideoK инструменты 1,67981632,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-11,11-31 мая,...,"28,74 RUB",80 RUB,NaN,NaN,NaN,"76,91 RUB",NaN,NaN,NaN,NaN

In [55]:
plarin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 613 entries, 0 to 612
Data columns (total 29 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID Объявления         613 non-null    int64
 1   Название объявления   613 non-null    object
 2   ID Кампании           613 non-null    int64
 3   Название кампании     613 non-null    object
 4   region                613 non-null    object
 5   Источник              613 non-null    object
 6   Unnamed: 6            613 non-null    int64
 7   Клиент                613 non-null    object
 8   Дата                  613 non-null    datetime64[ns]
 9   date_range            613 non-null    object
 10  Расход                613 non-null    float64
 11  Показы                450 non-null    object
 12  Конверсии по показам  613 non-null    int64
 13  Клики                 394 non-null    float64
 14  Конверсии             569 non-null    float64
 15  CTR                   394 non-null    object
 16  CR                    379 non-null    object
 17  WCR (%)               379 non-null    object
 18  CPM                   450 non-null    object
 19  CPC                   394 non-null    object
 20  CPA                   406 non-null    object
 21  EPC                   0 non-null      float64
 22  EPM                   0 non-null      float64
 23  eCPC                  0 non-null      float64
 24  eCPM                  450 non-null    object
 25  P&L                   0 non-null      float64
 26  Выручка               0 non-null      float64
 27  ROI                   0 non-null      float64
 28  CRR (с НДС)           0 non-null      float64
dtypes: datetime64[ns](1), float64(10), int64(4), object(14)
memory usage: 139.0+ KB

In [56]:
# удалим столбцы без данных
plarin = plarin.drop(['EPC', 'EPM','eCPC','P&L','Выручка','ROI','CRR (с НДС)'], axis=1)
plarin.head()

,ID Объявления,Название объявления,ID Кампании,Название кампании,region,Источник,Unnamed: 6,Клиент,Дата,date_range,...,Конверсии по показам,Клики,Конверсии,CTR,CR,WCR (%),CPM,CPC,CPA,eCPM
0,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-12,11-31 мая,...,0,NaN,NaN,NaN,NaN,NaN,"15,00 RUB",NaN,NaN,"15,00 RUB"
1,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-11,11-31 мая,...,0,69.0,13.0,"0,206 %","18,841 %","3,881 %","45,58 RUB","22,09 RUB",117 RUB,"45,58 RUB"
2,126907858,DG GE VideoK инструменты 1,67981631,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-10,6-10 мая,...,0,29.0,4.0,"0,183 %","13,793 %","2,524 %","39,03 RUB","21,38 RUB",155 RUB,"39,03 RUB"
3,126907859,DG GE VideoK инструменты 1,67981632,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-12,11-31 мая,...,0,NaN,NaN,NaN,NaN,NaN,"25,00 RUB",NaN,NaN,"25,00 RUB"
4,126907859,DG GE VideoK инструменты 1,67981632,Joom12DR_31.12_VideoK_Instrument1_pack1210_M_2...,Россия,myTarget,14481112,Joom_HM_VKAds_9 (RUB),2023-05-11,11-31 мая,...,0,53.0,19.0,"0,268 %","35,849 %","9,608 %","76,91 RUB","28,74 RUB",80 RUB,"76,91 RUB"

In [57]:
# рассмотрим какие значения бывают в столбце date_range

plarin['date_range'].value_counts()

11-31 мая    524
6-10 мая      89
Name: date_range, dtype: int64

In [58]:
# рассмотрим какие значения бывают в столбце region

plarin['region'].value_counts()

Россия    575
СНГ        38
Name: region, dtype: int64

In [59]:
# проверим на пропуски и дубликаты
print('пропусков:', plarin.isna().sum())
print()
print('дубликатов:', plarin.duplicated().sum())

пропусков: ID Объявления             0
Название объявления       0
ID Кампании               0
Название кампании         0
region                    0
Источник                  0
Unnamed: 6                0
Клиент                    0
Дата                      0
date_range                0
Расход                    0
Показы                  163
Конверсии по показам      0
Клики                   219
Конверсии                44
CTR                     219
CR                      234
WCR (%)                 234
CPM                     163
CPC                     219
CPA                     207
eCPM                    163
dtype: int64

дубликатов: 0

In [60]:
# переименуем столбец с индивидуальным номером объявелния для дальнейшего объединениея
plarin = plarin.rename(columns={'ID Объявления' : 'Adgroup'})
#plarin.head()

## Выгрузим таблицу с загрузками

In [61]:
installs = pd.read_excel('Installs API.xlsx', sheet_name = 'Installs API')
installs.head()

,Date,date_range,Tracker,Campaign,Adgroup,Network,Country,region,Installs
0,2023-05-10,6-10 мая,mn3x98u,68115835,127048225,huntermob_vk,ru,Россия,17
1,2023-05-10,6-10 мая,se043uy,67982511,126908782,huntermob_vk,ru,Россия,8
2,2023-05-10,6-10 мая,exeopt,67996793,126923936,huntermob_vk,ru,Россия,4
3,2023-05-10,6-10 мая,y1882qa,68663028,127644596,huntermob_vk,ru,Россия,7
4,2023-05-10,6-10 мая,rp369y4,68867006,127856769,huntermob_vk,ru,Россия,1

In [62]:
len(installs['Adgroup'].unique())

142

In [63]:
installs['Adgroup'].value_counts().head()

127644504    26
127048227    16
127849503    16
127850650    13
127644502    12
Name: Adgroup, dtype: int64

In [64]:
temp = installs.loc[installs['Adgroup']==127644504]
temp.head()

,Date,date_range,Tracker,Campaign,Adgroup,Network,Country,region,Installs
37,2023-05-10,6-10 мая,9coiqt6,68662936,127644504,huntermob_vk,ru,Россия,10
38,2023-05-10,6-10 мая,9coiqt6,68662936,127644504,huntermob_vk,tj,СНГ,1
39,2023-05-10,6-10 мая,9coiqt6,68662936,127644504,huntermob_vk,ua,СНГ,3
143,2023-05-11,11-31 мая,9coiqt6,68662936,127644504,huntermob_vk,at,NaN,1
144,2023-05-11,11-31 мая,9coiqt6,68662936,127644504,huntermob_vk,ru,Россия,36

<div class="alert alert-block alert-danger">
В столбце Adgroup по условию должны быть уникальные значения, которые связывали бы таблицы Plarin и Installs. Однако это не так. 
</div>

In [65]:
# рассмотрим какие значения бывают в столбце region

installs['region'].value_counts()

Россия    538
СНГ        93
Name: region, dtype: int64

In [66]:
# рассмотрим какие значения бывают в столбце date_range

installs['date_range'].value_counts()

11-31 мая    542
6-10 мая      90
Name: date_range, dtype: int64

In [67]:
# Рассмотрим общую информацию о таблице
installs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 632 entries, 0 to 631
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Date        632 non-null    datetime64[ns]
 1   date_range  632 non-null    object
 2   Tracker     632 non-null    object
 3   Campaign    632 non-null    object
 4   Adgroup     632 non-null    object
 5   Network     632 non-null    object
 6   Country     632 non-null    object
 7   region      631 non-null    object
 8   Installs    632 non-null    int64
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 44.6+ KB

### Промежуточные выводы:

    1. нам поступили таблицы с одним общим столбцом - уникальным номером объявления
    2. есть всего два типа терриоттриального разделения: Россия и СНГ
    3. есть 2 временных промежутка: 6-10 мая и 11-31 мая. Эти промежутки совпадают у всех таблиц
    
    
### Дальнейшие действия:

    1. соберем нужные данные в рамках каждой таблицы, а потом объединим по результатам за нужный период

In [68]:
# Сделаем "основу" для таблицы и дальше будем добавлять по столбцу
total = plarin.loc[plarin['date_range']=='6-10 мая'][['date_range','Расход']]
total.head()

   date_range   Расход
2    6-10 мая  1274.01
5    6-10 мая   591.23
9    6-10 мая   518.84
14   6-10 мая   671.52
19   6-10 мая   477.92

In [69]:
total = total.groupby('date_range').agg('sum')
total.head()

              Расход
date_range
6-10 мая    68824.05

In [70]:
# сделаем поправку на доллар. Среднее значение за май 2023 - 79,21
total['Расход'] = total['Расход'] / 79.21
total.head()

                Расход
date_range
6-10 мая    868.880823

In [71]:
total['installs'] = installs.loc[installs['date_range']=='6-10 мая']['Installs'].sum()
total.head()

                Расход  installs
date_range
6-10 мая    868.880823       727

In [72]:
total['cpi'] = total['Расход'] / total['installs']
total.head()

                Расход  installs       cpi
date_range
6-10 мая    868.880823       727  1.195159

In [73]:
total['Окупаемость'] = revenue.loc[revenue['date_range']=='6-10 мая']['Revenue'].sum()/total['Расход']
total.head()

                Расход  installs       cpi  Окупаемость
date_range
6-10 мая    868.880823       727  1.195159     1.039761

In [74]:
total['Profit'] = revenue.loc[revenue['date_range']=='6-10 мая']['Revenue'].sum() - total['Расход']
total.head()

                Расход  installs       cpi  Окупаемость     Profit
date_range
6-10 мая    868.880823       727  1.195159     1.039761  34.547177

In [75]:
# Сделаем то же самое для другой даты
total_2 = plarin.loc[plarin['date_range']=='11-31 мая'][['date_range','Расход']]
total_2.head()

  date_range   Расход
0  11-31 мая     0.03
1  11-31 мая  1524.23
3  11-31 мая     0.05
4  11-31 мая  1523.19
6  11-31 мая   256.00

In [76]:
total_2 = total_2.groupby('date_range').agg('sum')
total_2.head()

               Расход
date_range
11-31 мая   465189.42

In [77]:
# сделаем поправку на доллар. Среднее значение за май 2023 - 79,21
total_2['Расход'] = total_2['Расход'] / 79.21
total_2.head()

                 Расход
date_range
11-31 мая   5872.862265

In [78]:
total_2['installs'] = installs.loc[installs['date_range']=='11-31 мая']['Installs'].sum()
total_2.head()

                 Расход  installs
date_range
11-31 мая   5872.862265      6698

In [79]:
total_2['cpi'] = total_2['Расход'] / total_2['installs']
total_2.head()

                 Расход  installs       cpi
date_range
11-31 мая   5872.862265      6698  0.876808

In [80]:
total_2['Окупаемость'] = revenue.loc[revenue['date_range']=='11-31 мая']['Revenue'].sum()/total_2['Расход']
total_2.head()

                 Расход  installs       cpi  Окупаемость
date_range
11-31 мая   5872.862265      6698  0.876808     1.353608

In [81]:
total_2['Profit'] = revenue.loc[revenue['date_range']=='11-31 мая']['Revenue'].sum() - total_2['Расход']
total_2.head()

                 Расход  installs       cpi  Окупаемость       Profit
date_range
11-31 мая   5872.862265      6698  0.876808     1.353608  2076.693735

In [82]:
# "сложим" две получившиеся таблицы

sheet_1 = pd.concat([total, total_2])
sheet_1

                 Расход  installs       cpi  Окупаемость       Profit
date_range
6-10 мая     868.880823       727  1.195159     1.039761    34.547177
11-31 мая   5872.862265      6698  0.876808     1.353608  2076.693735

<div class="alert alert-info">
Формиррование первого листа завершено
</div>

### Задача 2. креативы

Лист Креативы

Необходимо собрать Отчет по Креативам за весь период размещения

Название креатива 
Необходимо вывести уникальные названия. Содержатся в столбце B Лист Plarin

Spend 
Это расход, количество потраченных денег по соответствующему названию объявления. Выводим в $, курс берем средний за май 2023 года. Расход указан на листе Plarin столбец I
Installs

Общее количество установок по соответствующему названию креатива . Указано на листе Installs API столбец G
Окупаемость % окупаемости трафика по креативу. Считается как Revenue / Spend. Выводится в %


Profit
Прибыль по данному креативу. Считается как Revenue-Spend. Выводится в $

Регион
Необходимо указать креатив был запущен на Россию или СНГ. Определить это можно по Названию соответствующей кампании (в названии содержится “cis”)

!! Внимание. Одинаковый креатив мог быть запущен на Россию и СНГ. Необходимо это учесть и вывести их отдельно.

In [83]:
creat = pd.read_excel('Installs API.xlsx', sheet_name = 'Plarin')

In [84]:
len(creat)

613

In [85]:
creat['Название объявления'].value_counts()

KS SZ VideoK куртки 10             35
VI SZ VideoK куртки Ж 3            32
VI SZ VideoK куртки М 1            31
VI EP VideoK трусы                 30
VI SZ VideoD обувь Ж 1             28
                                   ..
DG IL VideoS чехлы марвел 2         1
DG IL VideoS чехлы марвел           1
DG IL VideoS чехлы мужские 2        1
DG IL VideoS чехлы прикольные 2     1
DG IL VideoS чехлы классические     1
Name: Название объявления, Length: 97, dtype: int64

In [86]:
creat = creat[['Название объявления','Расход']].groupby('Название объявления').agg('sum')
creat.head()

                                    Расход
Название объявления
AN KA JB OL 1 VideoK автотовары    8018.03
AN SPB 14 VideoV автотовары        5253.46
CH EP VideoK Joom автозапчасти 1  16829.02
CH GE VideoK Joom Водолазка RU     2723.72
CH GE VideoK Joom Куртки           4891.94

In [87]:
# сделаем поправку на доллар. Среднее значение за май 2023 - 79,21
creat['Расход'] = creat['Расход'] / 79.21
creat.head()

                                      Расход
Название объявления
AN KA JB OL 1 VideoK автотовары   101.224972
AN SPB 14 VideoV автотовары        66.323192
CH EP VideoK Joom автозапчасти 1  212.460800
CH GE VideoK Joom Водолазка RU     34.386062
CH GE VideoK Joom Куртки           61.759121

<div class="alert alert-block alert-danger">
 Нет возможности объединить таблицы Plarin и Installs.
</div>

# Часть 3. Сатистика

## Задача 1


В городе N завелись воришки. Следователь пытается выявить всех воришек. При допросе вероятность признать виновным действительно виновного в краже равна 0.9, а вероятность принять невиновного за воришку - 0.01. Доля воришек в городе N по отношению ко всем жителям города равна 0.001. Найдите вероятность того, что житель невиновен, если он был признан виновным при допросе. 

Для решения нам потребуется теорема Байеса, которая помогает определить вероятнсть "при условии". В общем виде она выглядит следующим образом:

$$P(Н|E) =\frac{P(E|H) * P(H)}{P(E)}  $$ 

Вероятность того, что вас признают НЕвиновным P(E)  это сумма веротяностей того, что вы виновны и это выявдено на допросе и того что вас обвинили не по делу

$$P(Н|E) =\frac{P(E|H) * P(H)}{P(E|H)*P(H) + P(-H)*P(E|-H) }  $$


$Где:$

    1.P(Н|E) - вероятность быть невиновным при признании виновным на допросе
    2.P(H) - вероятность быть невиновным до допроса
    3.P(E|H) - вероятность быть признанным НЕвиновным, если вы действительно НЕвиновны
    4.P(E) - вероятность того, что вас признают виновным на допросе
    5.P(-H) - вероятность, что вы виновны

In [40]:
answer = (0.9*0.999) / ((0.9*0.999) + (0.001*0.99))
print('Вероятность того, что житель невиновен, если он был признан виновным при допросе составляет', answer)

Вероятность того, что житель невиновен, если он был признан виновным при допросе составляет 0.998900109989001

## Задача 2

На ферме два одинаковых автомата выдают молоко. Вероятность того, что к концу дня в автомате закончится молоко, равна 0,25. Вероятность того, что молоко закончится в обоих автоматах, равна 0,17. Какова вероятность того, что к концу дня молоко останется в обоих автоматах?

В условии задачи указано, что вероятность того, что молоко закончится в обоих автоматах, равна 0,17. Это означает, что вероятность обратного это 1-P


Вероятность того, что к концу дня молоко останется в обоих автоматах составляет 0,83

## Задача 3

Ниже приведена таблица сопряженности двух признаков: пол респондента и его ответ на вопрос: Ложитесь ли вы спать раньше 23:00?

In [41]:
df = pd.DataFrame({'ДА': [32, 15], 'НЕТ': [14,25]})
df

   ДА  НЕТ
0  32   14
1  15   25

###  Необходимо проверить есть ли связь между этими признаками.

In [42]:
# Для проверки связи признаков посмотрим как они коррелируют друг с другом
score = df['ДА'].corr(df['НЕТ'])
score

-1.0

#### Ответ:
С изменеием одного признака второй меняется в в обратную сторону

### Сформулируйте нулевую и альтернативную гипотезы.

Н0: У мужчин и женщин признак распределен одинаково
Н1: У мужчин и женщин признак распределен по-разному

### Известно что p-value равно 0.006. какой вывод относительно нулевой гипотезы можно сделать?

Нулевая гипотеза считается отвергнутой и принимается альтернативная гипотеза.